.movie-card{
    width: calc((100% - 80px)/5);
    position: relative;

    h3{
        font-size: 20px;
        color: white;
    }

    img{
        width: 100%;
        border-radius: 10px;
    }    
    
    .movie-score{
        position: absolute;
        bottom: 70px;
        left: 5px;
    }

    .ant-progress-inner{
        width: 50px !important;
        height: 50px !important;
        background-color: white;
    }
}